{% extends 'base.html.twig' %}

{% block title %}Sauce Admin{% endblock %}

{% block body %}
    <h1>Sauce {{ sauce.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sauce.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sauce.Name }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ sauce.Origin }}</td>
            </tr>
            <tr>
                <th>Ingredient</th>
                <td>{{ sauce.Ingredient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_sauce_index') }}">back to list</a>

    <a href="{{ path('admin_sauce_edit', {'id': sauce.id}) }}">edit</a>

    {{ include('admin/sauce/_delete_form.html.twig') }}
{% endblock %}
