{% block navBar %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
        <div class="container-fluid ">
            <a class="navbar-brand img d-none d-lg-block text-light" href="{{ path('home_index') }}">
                <img class="logo mr-2" src="{{ asset('build/images/favicon.png') }}" alt="Logo"/></a>
            {% if app.user %}
                <p class="nav-link text-primary">Bonjour, {{ app.user.username }}</p>

            {% endif %}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end text-light" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3 d-xl-none d-lg-none d-sm-block">
                        <a class="nav-link text-primary" href="">Administration Commentaires</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-primary" href="{{ path('admin_sauce_index') }}">Administration Sauces</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-primary" href="{{ path('admin_comment_index') }}">Administration Commentaires</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-primary" href="{{ path('home_index') }}">Accueil</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

